<div class='card'>
  <div class='card-content'>
    <p class='card-header-title'>
      {{story.title}}
    </p>
    <p class='content'>
      {{breaklines story.content}}
    </p>

  </div>

</div>

<div>
  <a class='button' href='/'>
    <span class='button'>Return to Homepage</span>
  </a>
</div>

<script src='./js/story.js'></script>