<div class='card'>
  <div class='card-content'>
    <p class='card-header-title'>
      {{story.title}}
    </p>
    <p class='content'>
      {{breaklines story.content}}
    </p>

  </div>

</div>

<button class='button is-info my-15' id='return'>
  Return to Homepage
</button>

<script src='./js/story.js'></script>