<div class="card">
  <div class="card-content">
    <p class="card-header-title">
      {{story.title}}
    </p>
    <p class="content">
       {{breaklines story.content}}
    </p>

  </div>
  <button class="button is-info" id="return">
    Return to Homepage
  </button>
</div>
<script src="./js/story.js"></script>