header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 55px;
}

.story-text {
  font-size: 16px;
  font-family: 'Merriweather', serif;
}

.story-title {
  font-size: 45px;
  font-family: 'Merriweather', serif;
}

#motivate-image{
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

#get-story-container{
  display: none;
}

.loader {
  width: 86px;
  height: 50px;
  border-radius: 50px;
  background:
    radial-gradient(farthest-side,#0000 calc(100% - 10px),#FFF calc(100% - 10px) 100%,#0000) left,
    radial-gradient(farthest-side,#0000 calc(100% - 10px),#FFF calc(100% - 10px) 100%,#0000) right;
  background-size: calc(50% + 5px) 100%;
  background-repeat: no-repeat;
  position: relative;
  animation: flipX 1s infinite linear;
  display:none;
}
.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background: #FFF;
  border-radius: 4px;
  overflow: hidden;
  display:hidden;
}
.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #ff9371;
  box-shadow: 32px -34px 0 5px #ff3d00;
  animation: slide 2s infinite ease-in-out alternate;
}
.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff3d00;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0% , 100%{ bottom: -35px}
  25% , 75%{ bottom: -2px}
  20% , 80%{ bottom: 2px}
}
@keyframes rotate {
  0% { transform: rotate(-15deg)}
  25% , 75%{ transform: rotate(0deg)}
  100% {  transform: rotate(25deg)}
}

@media screen and (min-width: 600px) {
  .navbar {
    min-height: 3.25rem;
  }
}

@media screen and (min-width: 600px) {

  .navbar,
  .navbar-end,
  .navbar-menu,
  .navbar-start {
    align-items: stretch;
    display: flex;
  }
}
